body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
}


/********
  Modal
*********/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content{
  width: 70%;
  background-color: white;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.modal-close{
  align-self: flex-end;
  margin-right: 0.25rem;
  margin-top: 0.25rem;
  padding: 0.06rem 0.25rem 0.06rem 0.25rem;
  cursor: pointer;
}

.modal-body{
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.modal-footer{
  align-self: flex-end;
  margin: 1rem;
}

.btn{
  font-size: 1rem;
  margin-right: 0.75rem;
  border-radius: 1em;
  padding: 0.25rem 1rem;
  border: 1px solid rgb(0, 149, 255);
  cursor: pointer;
}

.btn-light{
  color: rgb(0, 149, 255);
  background: white;
}

.btn-dark{
  color: white;
  background: rgb(0, 149, 255);
}

.input-labels{
  margin-bottom: 0.25rem;
}

.input-fields{
  margin-bottom: 0.75rem;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
}

.text-decor{
  font-size: 1.25rem;
  
}


/**************
  Application
***************/

.app-header{
  display: flex;
  margin: 0 1rem 1rem 1rem;
  justify-content: space-between;
}

.title{
  margin: 0 1rem 0 0;
}


/********************
  Team Members List
*********************/

.team-members {
  margin: 1rem;
}

.filters {
  display: flex;;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 4rem;
  border: 1px solid rgb(186, 186, 186);
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.sort {
  position: relative;
  display: inline-block;
  margin-right: 4rem;
  border: 1px solid rgb(186, 186, 186);
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  cursor: pointer;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10rem;
  margin-top: 0.3rem;
  margin-left: -1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
  padding: 1rem 1rem;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  margin-left: 1rem;
  font-weight: bold;
}

table {
  width: 100%;
  margin-top: 2rem;
  text-align: left;
  border-collapse: collapse;
}

tbody tr:nth-child(odd){  
  background-color: rgba(239, 239, 239, 0.916); 
}
th:nth-child(8), td:nth-child(8n){
  background-color: rgba(156, 156, 156, 0.3); 
}

tbody td:nth-child(7n) span{
  cursor: pointer;
}

th, td {
  padding: 1rem;
}